.github
*.github/
charts
*.gitignore
*.DS_Store
.env
ct.yaml
cr.yaml
.dockerignore
Dockerfile
*.git/
*.gitignore
*README.md
kind-config.yaml
*terraform*
terraform
*.terraform
*.terraform.lock.hcl
*.tfstate*
*.tfstate.*
*_override.tf
*_override.tf.json
go.mod
go.sum
